{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Welcome to baba wisdom {% endblock %}</h1></span>
    <ul style="list-style: none; padding-left: 0; margin: 0; font-weight: normal; font-style: normal;">
        <li><a id="daily" href="{{ url_for('wisdom.daily_wisdom') }}">Wisdom of the Day</a></li>
        <li><a id="from_the_past_day" href="{{ url_for('wisdom.wisdom_from_the_past_day') }}">Wisdom from the Past Day</a></li>
        <li><a id="search" href="{{ url_for('search.search') }}">Search Wisdom</a></li>

        {% if current_user.is_authenticated and current_user.role == 'baba' %}
            <li><a id="post" href="{{ url_for('wisdom.post_wisdom') }}">Post Wisdom</a></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.role != 'apprentice' %}
            <li><a id="post" href="{{ url_for('wisdom.view_wisdom') }}">View Wisdom</a></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
            <li><a id="post" href="{{ url_for('admin.village_statistics') }}">Village Statistics</a></li>
            <li><a id="post" href="{{ url_for('admin.star_statistics') }}">Star Statistics</a></li>
            <li><a id="post" href="{{ url_for('admin.category_statstics') }}">Category Statistics</a></li>
        {% endif %}
    </ul>
{% endblock %}