{% extends 'base.html' %} {% block title %}Post a Wisdom{% endblock %}

{% block content %}
<h1 align="center">Post a Wisdom</h1>
<form method="POST">
    <label for="wisdom_text">Wisdom</label>
    <textarea name="wisdom_text" id="wisdom_text" class="form-control" placeholder="Enter wisdom text"></textarea>
    <br/>
    <label for="wisdom_text">Age restriction</label>
    <textarea name="age_restriction" id="age_restriction" class="form-control" placeholder="Enter age restriction for wisdom"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Wisdom</button>
    </div>
</form>
{% endblock %}