{% extends 'base.html' %} {% block title %}Village Statistics{% endblock %}

{% block content %}
<h1 align="center">Village Statistics</h1>
<div class="table table-striped table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th>Village</th>
            <th>Number of Babas</th>
        </tr>
    </thead>
    <tbody>
        {% for village_name, count in results %}
        <br/>
        <tr>
            <td>{{ village_name }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</div>
{% endblock %}